body{
    height: 100%;
    width: 100%;
}

.grad{
    background-image: linear-gradient(#4B39AC,#232163,#1B1849);
}

.top{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    justify-content: space-evenly;
  
}
.center{
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    justify-content: space-evenly;
}
.bottom{
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    justify-content: space-evenly;
}





#header{
    display: flex;
    flex-direction: row;
    background-color: #05040B;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: #F9F8EC;
}
#header-img{
    display:flex;
}
#nav-bar{
    display: flex;
    flex-direction:row;
    overflow: hidden;
    float: right;
    padding: 1%;
}
#nav-bar a {
    float: right;
    display: block;
    color: #F9F8EC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
#nav-bar a:hover {
    background-color: #523DB8;
    color: #F9F8EC;
}
    
.nav-link {
    color: #F9F8EC;
}
#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.feature{
    color: black;
    font-size:x-large;
    padding: 0.5%;
}
#video{
    display:flex;
    justify-content: center;
    align-items: center;
   padding: 10%;
}
#cardbox{
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    justify-content: space-evenly;
}
.card{
    display: flex 1;
    flex-direction: row;
    color: black;
    border: black;
    border-style: solid;
    border-width: medium;
    width: 200px;
    height: 300px;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}
#email{
    display:flex;
    align-items: center;
    flex-direction: column;
}
#submit{
    display: flex;
    align-items: center;
    flex-direction: column;

}



@media (max-width: 700px) {
     #navbar {   
      flex-direction: column;
    }
  }