body{
    background-color: purple;
}

#header{
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
}
#nav-bar{
    display: flex;
    flex-direction:row;
    overflow: hidden;
    float: right;
    padding: 1%;
}
#nav-bar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
#nav-bar a:hover {
    background-color: #ddd;
    color: black;
}
    
.nav-link {
    color: black;
}
#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 80vw;
    padding: 5%;
}
.feature{
    color: #000;
    font-size:x-large;
    padding: 0.5%;
}
